
button.btn {
    border-radius: 2.45em;
    border: 1px solid transparent;
    color: #000;
    font-size: 1.25em;
    font-weight: 500;
    height: 45px;
    text-transform: uppercase;
    width: 220px;
    margin-top: 20px;
    margin-right: 10px;
  }
  
  button.btn-success {
    border-color: #00b49b;
    color: #00b49b;
  }
  
  button.btn-warning {
    border-color: red;
    color: red;
  }
  
  button.btn:hover {
    border-width: 2px;
  }
  
  button.btn:focus {
    border-width: 3px;
  }
  
  .progress-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .progress-bar {
    background-color: rgb(233, 233, 233);
    border-radius: .5rem;
    margin-right: 10px;
  }
  
  .progress {
    background-color: orange;
    background-image: linear-gradient(
      to right,
      orange 37%,
      red 69%
    );
    height: 6px;
    border-radius: 1rem;
    transition: 1s ease;
    transition-delay: 0.1s;
  }